<!DOCTYPE html>
<html>
  <head>
    <title> {{ web_server_name }} </title>
  </head>
  
  <body>
     <h1> Welcome to {{ web_server_name }} </h1>
     <p> Running on port {{ web_port }} </p>
     <strong> Ce site est ecrit par l'ingenieur DevOps : <a> {{ ingenieur_devops }} </a> </strong>
  </body>
</html>
